.body {
  display: flex;
  flex-direction: column;  
  margin: 0;
  padding: 0;  
  max-width: 1190px;
  min-height: 1680px;
  margin: 0 auto;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px; 
  color: $lightgray-text;
}

@media (max-width: $mobile-width) {
  .body {
    min-height: auto;
  }
}