.page-footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;    
  padding-right: 62px;
  padding-left: 62px;
  margin-bottom: 32px;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.page-footer__pagination {
  margin: 0;
}

@media (max-width: $mobile-width) {
  .page-footer {    
    padding-right: 31px;
    padding-left: 31px;
    margin-bottom: 16px;    
    font-size: 12px;
    line-height: 14px;
  }  
}
