.project {
  margin: 0;
  padding: 0;  
  margin-bottom: 58px;
}

.project__title {
  margin-bottom: 10px;
}

.project__list {
  display: table;
  margin: 0;
  padding: 0;
  list-style: none;
}

.project__item {
  display: table-row;
}

.project__feature {
  display: table-cell; 
  width: 330px; 
  height: 50px;
  vertical-align: bottom;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: $grayblue-text;
}

.project__value {
  position: relative;
  display: table-cell;
  width: 330px; 
  height: 50px;
  vertical-align: bottom;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: $grayblue-text;
  text-decoration: none;
}

.flag {  
  padding-left: 42px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 3px;
    width: 32px;
    height: 20px;
    background-image: url("../../img/flags-sprite.png");
    background-repeat: no-repeat; 
  }

  &--gb::before {
    background-position: -32px 0;
  }

  &--germany::before {
    background-position: 0 0;
  }
}

@media (max-width: $mobile-width) {
  .project {      
    margin-bottom: 29px;
    padding-right: 31px;
    padding-left: 31px;
  }
  
  .project__title {
    margin-bottom: 5px;
  }
  
  .project__list {
    display: flex;
    flex-direction: column;    
  }
  
  .project__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }
  
  .project__feature {
    display: block; 
    width: auto; 
    height: auto;    
    font-size: 12px;
    line-height: 14px;    
  }
  
  .project__value {
    position: relative;
    display: block;
    width: auto; 
    height: auto;    
    font-size: 12px;
    line-height: 14px;    
  }
  
  .flag {  
    padding-left: 24px;
  
    &::before {      
      bottom: 1px;
      width: 16px;
      height: 10px;      
      background-size: 200%;
    }
  
    &--gb::before {
      background-position: -16px 0;
    }    
  }
}
