.ranking {
  margin-bottom: 72px;
}

.ranking__title {
  margin-bottom: 16px;
}

.ranking__description {
  margin: 0;
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.ranking__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: $mobile-width) {
  .ranking {
    margin-bottom: 36px;
    padding-right: 31px;
    padding-left: 31px;
  }
  
  .ranking__title {
    margin-bottom: 8px;
  }
  
  .ranking__description {    
    margin-bottom: 12px;    
    font-size: 12px;
    line-height: 14px;
  }  
}
